*{
  box-sizing: border-box;
  color:white;
  overflow-y: overlay;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

  
}

.app {
  position: relative;
  padding: 20px;
  background-color:black;
  background-size: cover;
}

.header {
  background-color: #BD2031;
  padding: 10px 20px;
  font-size:60px;
  font-weight:bold;
  display: inline-block;
  margin-top:15px;
  text-shadow: 5px 5px black;
}

.my-list-title, .no-data {
  font-size: 36px;
  line-height: 50px;
  color:white;
  margin-top: 10px;
  margin-left: 50px;
}

.no-data {
  color: silver;
}

h2 {
  font-size: 45px;
  margin-bottom: 10px;
}
.list-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height:289px;
}


.list-view .showing-block {
  max-width: 300px;
  min-width: 150px;
  margin: 0px 10px;
  text-align: center; 
}

.list-view .showing-block img {
  display: block;
  margin-bottom:5px;
  height:240px;
}

.list-view .showing-block .no-data{
  font-size: 36px;
  line-height: 50px;
  color:silver;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  
}

.list-view .showing-block .block-button{
  height:25px;
  width:100%;
  visibility: hidden;
}

.my-list .showing-block:hover .block-button{
  visibility: visible;
  color: white;
  height:25px;
  width:100%;
  background-color:rgb(229,9,20);
  border-radius: 3px;
  border:none;
  box-shadow:0 0 5px white;
}

.my-list .showing-block:hover .block-button:hover{
  visibility: visible;
  color: white;
  height:25px;
  width:100%;
  background-color:rgb(244,6,18);
  border-radius:3px;
  border:none;
  box-shadow:0 0 5px white;
}

.recommend-list .showing-block:hover .block-button{
  visibility: visible;
  color: white;
  height:25px;
  width:100%;
  background-color:green;
  border-radius: 3px;
  border:none;
  box-shadow:0 0 5px white;
}

.recommend-list .showing-block:hover .block-button:hover{
  visibility: visible;
  color: white;
  height:25px;
  width:100%;
  background-color:green;
  border-radius:3px;
  border:none;
  box-shadow:0 0 5px white;
}

